/* COLOUR REFERENCES

Green:      #79b044
Salmon:     #dd5638
Blue Gray:  #3e4249 

*/

/* === GENERAL === */

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
}

#hero {
    margin-top: 50px;
}